# Ignore target directory
target/

# But don't ignore .jar files
!target/*.jar

# Keep the rest of your gitignore settings unchanged
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
